apiVersion: apps/v1
kind: Deployment
metadata:
  name: loomie-frontend
  namespace: loomie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loomie-frontend
  template:
    metadata:
      labels:
        app: loomie-frontend
    spec:
      imagePullSecrets:
        - name: registry-credentials
      containers:
        - name: frontend
          image: registry.monederobox.dev/loomie/frontend:2989621
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: production
            - name: PORT
              value: "3000"
            - name: PUBLIC_API_URL
              value: "https://loomie.monederobox.dev"
            - name: PUBLIC_WS_URL
              value: "wss://loomie.monederobox.dev"
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
